# Visual Code Projects
.vscode/*

# Eclipse projects
/.settings/*
/.buildpath/*
/.project/*

# Project
/.build/*
/.history/*
/_includes/*
/_layouts/*
/dist/*
/docs/*
/download/*
/release/*
/logs/*
/node_modules/*
/src/src.zip
