<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en-US' }}">
  <head>
    <link href="{{ site.assets.css }}{{ 'content-only.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">
    <script src="{{ site.assets.js }}{{ 'iframeResizer.contentWindow.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  </head>

  <body>
    <section id="content-section" class="container-fluid">
      <div id="content-layer">
        {{ content }}
      </div>
    </section>
    {% include extra/bootstrap-js.html %}
  </body>
</html>