<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en-US' }}">
  <head>
    {% include common/header.html %}
  </head>

  <body>
    <section id="content-section" class="container-fluid">
      <div id="content-layer" class="container">
        {{ content }}

        <hr class="clearfix" />

        {% if page.comments %}
        {% include extra/disqus.html %}
        {% endif %}
      </div>
    </section>
    {% if page.comments %}
    <script id="dsq-count-scr" src="//{{ site.disqus }}.disqus.com/count.js" async></script>
    {% endif %}
  </body>
</html>